h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 30px;
}

nav a {
  text-decoration: none;
}
.profile-picture {
  width: 35%;
  height: 35%;
  object-fit: cover;
  border-radius: 50%;
}
.image-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.image-container img {
  float: right;
  margin: 20px;
}

.centered-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}