h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 30px;
}

nav a {
  text-decoration: none;
}

.image-container {
  float: left;
  margin-right: 10px;
}

.centered-text {
  top: 50%;
  transform: translateY(-50%);
}